@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Mono:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    color: #fff;
    background: #000;
}



/* label{
    position: absolute;
    width: 45px;
    height: 22px;
    right: 20px;
    top: 20px;
    border: 2px solid;
    border-radius: 20px;
}

label:before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    cursor: pointer;
    background: #fff;
    transition: 0.4s;
}

label.active::before{
    left: 24px;
    background: #fff;
}

body.night{
    background: #fff;
    color: #000;
} */

#header{
    width: 100%;
    height: 100vh;
    background: url(./life/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 160px;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    border-radius: 5px;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 10px;
}

.header-text h1 span{
    color: #ff004f;
}

/* ---------about---------- */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%; 
    height: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 p{
    font-family:  sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style-type: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* ---------services--------- */

#services{
    padding: 30px 0;
    width: 100%;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(233.5px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}

.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/* -------------------portfolio----------------- */

#portfolio{
    padding:50px 0;
    width: 100%;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(233.5px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    text-align: center;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work-img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transition: transform 0.5s;
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/* ======================skill======================= */

.counters{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
    align-items: center;
}


.skill-counter h1{
    text-align: center;
    font-size: 25px;
    color: #cc2459;
}


.counterx h2{
    font-size: 15px;
    color: #fff;
    position: relative;
}


.html::after{
    content: "";
    position: absolute;
    left: 0;
    height: 20px;
    border-radius: 20px;
    width: 85%;
    background-color: #cc2459;
    animation: html 3s linear forwards;
}

@keyframes html{
    0%{
        transform: translateX(-72%);
    }
    100%{
        transform: translateX(0%);
    }
}
.css::after{
    content: "";
    position: absolute;
    left: 0;
    height: 20px;
    border-radius: 20px;
    width: 80%;
    background-color: #cc2459;
    animation: html 3s linear forwards;
}
@keyframes css{
    0%{
        transform: translateX(72%);
    }
    100%{
        transform: translateX(0%);
    }
}
.javascript::after{
    content: "";
    position: absolute;
    left: 0;
    height: 20px;
    border-radius: 20px;
    width: 75%;
    background-color: #cc2459;
    animation: html 3s linear forwards;
}
@keyframes javascript{
    0%{
        transform: translateX(72%);
    }
    100%{
        transform: translateX(0%);
    }
}

.counter{
    animation: html all forwards 0.5s;
    transition: all 0.5s ease;
    border-radius: 32px;
    border: 1px solid rgb(137, 134, 134);
    position: relative;
    width: 500px;
    height: 20px;
    align-items: center;
    overflow: hidden;
}

.counter span{
    position: absolute;
    font-weight: 100;
    right: 30px;
    font-size: 16px;
}

.term{
    padding: 1px;
    height: 70px;
    width: 350px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #cc2459;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
}

.up-move{
    content: "";
    left: 0;
    padding: 2px;
    height: 30px;
    border-bottom-left-radius: 15px;
    width: 100%;
    color: #fff;
    animation: up-move 3s linear forwards;
}

@keyframes up-move{
    0%{
        transform: translateX(82%);
    }
    100%{
        transform: translateX(0%);
    }
}

.slow{
    color: #fff;
}

/* ======================contact======================= */

.contact-left{
    flex-basis: 35%;
}


.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-left p a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.contact-left p a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.contact-left p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 20px;
}

.social-icons{
    margin-top: 20px;
}

.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    font-size: 25px;
    color: #ababab;
    display: inline-block;
    transition: 0.5s;
}

.social-icons a:hover{
    color: #b54769;
    transform: translateY(-5px);
}

.btn2{
    display: inline-block;
    background: #cc2459;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 8px;
    margin: 15px 0;
    color: #fff;
    resize: none;
    font-size: 16px;
    border-radius: 6px;
}

form .btn2{
    padding: 10px 60px;
    font-size: 17px;
    margin-top: 8px;
    cursor: pointer;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;

    font-size: 14px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 10px;
}

.copyright i{
    color: #ff004f;
}

nav .fas{
    display: none;
}


/* --------------css for small screens------------------- */

@media only screen and (max-width: 480px){
    body{
        overflow-x: hidden;
    }
    #header{
        background: url(./life/phone-background.png);
        background-position: center;
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
        nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -130px;
        width: 130px;
        height: 70vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .work-list{
        display: flex;
        flex-direction: column;
    }
    .skill-counter{
        padding: 0;
        margin: 35%;
        justify-content: center;
        align-items: center;
    }
    .skill-counter h1{
        font-size: 15px;
    }
    .skill-counter span h1{
        height: -0;
        padding: 0;
        margin: 0;
    }
    .counters{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 0;
        padding: 40px 0;
        margin: 50px;
    }
    .counter{
        animation: html all forwards 0.5s;
        transition: all 0.5s ease;
        border-radius: 32px;
        border: 1px solid rgb(137, 134, 134);
        position: relative;
        width: 300px;
        height: 20px;
        overflow: hidden;
    }
    .counter span{
        position: absolute;
        font-weight: 100;
        right: 10px;
        font-size: 16px;
    }
    
    .term{
        padding: 1px;
        height: 90px;
        width: 350px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid #cc2459;
        color: #ff004f;
        font-size: 15px;
        overflow: hidden;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

/* -----------------sreen size---------------------- */

@media only screen and (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    #header{
        background: url(./life/phone-background.png);
        background-position: center;
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
        nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -130px;
        width: 130px;
        height: 70vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list{
        display: flex;
        flex-direction: column;
    }
    .skill-counter{
        padding: 0;
        margin: 35%;
        justify-content: center;
        align-items: center;
    }
    .skill-counter h1{
        font-size: 15px;
    }
    .skill-counter span h1{
        height: -0;
        padding: 0;
        margin: 0;
    }
    .counters{
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 0;
        padding: 40px 0;
        margin: 50px;
    }
    
    .counter{
        animation: html all forwards 0.5s;
        transition: all 0.5s ease;
        border-radius: 32px;
        border: 1px solid rgb(137, 134, 134);
        position: relative;
        width: 350px;
        height: 20px;
        overflow: hidden;
    }
    .counter span{
        position: absolute;
        font-weight: 100;
        right: 10px;
        font-size: 16px;
    }
    
    .term {
        padding: 5px;
        height: 110px;
        width: 350px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid #cc2459;
        font-size: 15px;
        overflow: hidden;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

@media only screen and (max-width: 785px){
    body{
        overflow-x: hidden;
    }
    #header{
        background: url(./life/phone-background.png);
        background-position: center;
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
        nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -130px;
        width: 130px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .services-list{
        display: flex;
        flex-direction: column;
        width: 315px;
        justify-content: center;
    }
    .skill-counter{
        padding: 0;
        margin: 35%;
        justify-content: center;
        align-items: center;
    }
    .skill-counter h1{
        font-size: 15px;
    }
    .skill-counter span{
        height: -0;
        padding: 0;
        margin: 0;
    }
    .counter{
        animation: html all forwards 0.5s;
        transition: all 0.5s ease;
        border-radius: 32px;
        border: 1px solid rgb(137, 134, 134);
        position: relative;
        width: 300px;
        height: 20px;
        overflow: hidden;

    }
    .counter span{
        position: absolute;
        font-weight: 100;
        right: 10px;
        font-size: 16px;
    }
    
    .term{
        display: none;
        padding: 1px;
        height: 70px;
        width: 100%;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid #cc2459;
        color: #ff004f;
        font-size: 15px;
        overflow: hidden;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}


/* --------------------tap size------------------------- */

/* @media only screen and (max-width: 1000px){
    body{
        overflow-x: hidden;
    }
    #header{
        background: url(./life/phone-background.png);
        
    }
    .header-text{
        margin-top: 100%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 30px;
    }
        nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        right: -150px;
        width: 100px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 90%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .counter{
        animation: html all forwards 0.5s;
        transition: all 0.5s ease;
        border-radius: 32px;
        border: 1px solid rgb(137, 134, 134);
        position: relative;
        width: 300px;
        height: 20px;
        overflow: hidden;
    }
    .term-left{
        display: none;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        font-size: 16px;
    }
    .copyright{
        font-size: 12px;
    }
}
